<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifecircle">

    <application
        android:name="com.lifecircle.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--布局适配-->
        <meta-data android:name="design_width" android:value="750"/>
        <meta-data android:name="design_height" android:value="1334"/>

        <activity android:name="com.lifecircle.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.lifecircle.ui.guangchang.MainActivity"/>
        <activity android:name="com.lifecircle.ui.my.MySetActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyOrderActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyWalletActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyIntegralActivity"/>

        <activity android:name="com.lifecircle.ui.SearchActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyTaskActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyFollowActivity"/>
        <activity android:name="com.lifecircle.ui.my.NotificationSettingsActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyFeedBackActivity"/>
        <activity android:name="com.lifecircle.ui.my.ModifyPersonalDataActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyinvitationActivity"/>
        <activity android:name="com.lifecircle.ui.linju.ContactsActivity"/>
        <activity android:name="com.lifecircle.ui.my.MySingActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyWithLifeCirleActivity"/>
        <activity android:name="com.lifecircle.ui.my.MyRechargeActivity"/>




    </application>

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>