<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifecircle">

    <application
        android:name="com.lifecircle.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--布局适配-->
        <meta-data android:name="design_width" android:value="750"/>
        <meta-data android:name="design_height" android:value="1334"/>

        <activity android:name=".mvp.view.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".mvp.view.publicui.MainActivity"/>
        <activity android:name=".mvp.view.my.MySetActivity"/>
        <activity android:name=".mvp.view.my.MyOrderActivity"/>
        <activity android:name=".mvp.view.my.MyWalletActivity"/>
        <activity android:name=".mvp.view.my.MyIntegralActivity"/>

        <activity android:name=".mvp.view.publicui.SearchActivity"/>
        <activity android:name=".mvp.view.my.MyTaskActivity"/>
        <activity android:name=".mvp.view.my.MyFollowActivity"/>
        <activity android:name=".mvp.view.my.MyNotificationSettingsActivity"/>
        <activity android:name=".mvp.view.my.MyFeedBackActivity"/>
        <activity android:name=".mvp.view.my.MyModifyPersonalDataActivity"/>
        <activity android:name=".mvp.view.my.MyinvitationActivity"/>
        <activity android:name=".mvp.view.linju.ContactsActivity"/>
        <activity android:name=".mvp.view.my.MySingActivity"/>
        <activity android:name=".mvp.view.my.MyWithLifeCirleActivity"/>
        <activity android:name=".mvp.view.my.MyRechargeActivity"/>
        <activity android:name=".mvp.view.my.MyWithdrawalActivity"/>
        <activity android:name=".mvp.view.my.MyAddWithdrawal"/>
        <activity android:name=".mvp.view.my.MyDelWithdrawal"/>
        <activity android:name=".mvp.view.my.MyRunnWaterRecordActivity"/>
        <activity android:name=".mvp.view.my.MyCashWithdrawalActivity"/>
        <activity android:name=".mvp.view.my.MyInfoEditAcitivty"/>
        <activity android:name=".mvp.view.my.PersonalInformationStyleActivity"/>
        <activity android:name=".mvp.view.my.MyPostsActiivty"/>
        <activity android:name=".mvp.view.my.MyPostDetailsActivity"/>
        <activity android:name=".mvp.view.my.MyThumbUplistActivity"/>
        <activity android:name=".mvp.view.my.WithFriendsChatActivity"/>
        <activity android:name=".mvp.view.my.PointPraiseListActivity"/>
        <activity android:name=".mvp.view.my.MyCollection"/>
        <activity android:name=".mvp.view.my.EditorialShowA"/>
        <activity android:name=".mvp.view.my.MyRepostActivity"/>
        <activity android:name=".mvp.view.my.MyCommetnsActivity"/>
        <activity android:name=".mvp.view.my.MyDynamicsActivity"/>
        <activity android:name=".mvp.view.my.MySingTime"/>
        <activity android:name=".mvp.view.linju.NewsListActivity"/>
        <activity android:name=".mvp.view.zhoubianservices.ReleaseActivity"/>
        <activity android:name=".mvp.view.publicui.PublicActivity"/>
        <activity android:name=".mvp.view.guangchang.WebBannerActivity"/>
        <activity android:name=".mvp.view.guangchang.ReleaseFactActivity"/>
        <activity android:name=".mvp.view.guangchang.ReaseActivity"/>
        <activity android:name=".mvp.view.my.MyOrderDetails"/>
        <activity android:name=".mvp.view.publicui.TopicActivity"/>
        <activity android:name=".mvp.view.publicui.ParticipantsActivity"/>
        <activity android:name=".mvp.view.publicui.ReaseTopicActivity"/>
        <activity android:name=".mvp.view.guangchang.ShopActivity"/>
        <activity android:name=".mvp.view.guangchang.ShoppingCartActivity"/>
        <activity android:name=".mvp.view.guangchang.ShopOrderActivity"/>



    </application>

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>